/* mail list */
table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  text-align: left;
  border-bottom: 2px solid #ccc;
  padding: 8px;
}

tbody tr {
  border-bottom: 1px solid #ccc;
}

tbody td {
  padding: 8px;
}

tbody td:nth-child(4) {
  display: flex;
  align-items: center;
}

tbody td:nth-child(4) {
  flex-grow: 2;
}

tbody td:nth-child(1),
tbody td:nth-child(2) {
  width: 1%;
  white-space: nowrap;
}
