/* Element | http://127.0.0.1:5503/#/ */

.home > div {
  display: flex;
  justify-content: center;
}

/* Element | http://127.0.0.1:5503/#/ */

.home > h1 {
  display: flex;
  justify-content: center;
  margin-block-end: 50px;
}
