.coral {
    background-color: coral;
}

.sand {
    background-color: sandybrown;
}
.peach {
    background-color: peachpuff;
}
.spring {
    background-color: mediumspringgreen;
}
.sea {
    background-color: seagreen;
}
.storm {
    background-color: rgb(37, 120, 134);
}
.fog {
    background-color: rgb(40, 182, 201);
}
.blossom {
    background-color: rgb(240, 137, 226);
}
.dusk {
    background-color: rgb(184, 49, 202);
}
.turquoise {
    background-color: rgb(33, 218, 178);
}