 /* note list */

.note-container {
   columns: 6 200px;
   column-gap: 12px;
}

 .main-container {
   color: white;
 }
 
 .note {
   border: 1px solid #5f6368;
   border-radius: 1em;
   margin-bottom: 1rem;
   padding: 10px;
 }

 .note-txt {
   display: inline-block;
   font-size: .875rem;
 }

 .note-title {
    font-size: 1rem;
    margin-bottom: 0;

 }

 .txt-container {
   display: flex;
   break-inside: avoid;
   flex-direction: column;
   word-wrap: break-word;
   white-space: pre-wrap;
   word-break: break-word;
 }

.btn-remove {
   z-index: 10;
}