header {
  background: var(--primary-color);
  border-bottom: 1px solid white;
}

.app-header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

nav a {
  margin: 0.5em;
}

nav a:active {
  color: purple;
}

nav a.active {
  color: #fff;
  font-weight: bold;
  text-decoration: overline;
}
